* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/FondoNegro.jpg");
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

.logo {
    color: white;
    font-size: 15pt;
    width: auto;
}

.container {
    width: 100%;
}

#navDefault {
    background-color: transparent;
    width: 100%;
}

#allContentInCampus {
    text-align: center;
    height: auto;
}

#buttonErrors {
    border-radius: 5px 5px;
    color: black;
    background-color: transparent;
    border: none;
    border-style: none;
    width: auto;
    height: auto;
}

#tableCampus {
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 300px;
    height: 150px;
    color: white;
}

div table tr td input {
    border-radius: 5px 5px;
    border-style: none;
    height: 25px;
    width: 240px;
    color: black;
}

div table tr td button {
    border-radius: 5px 5px;
    color: black;
    background-color: white;
    border-style: none;
    width: auto;
    height: auto;
}

#buttonAddCampus {
    width: 115px;
}

#buttonClear {
    width: 115px;
}

@media screen and (max-width: 400px) {
    #tableRole {
        width: 100%;
    }

    #tableGray {
        width: 100%;
    }
}

#tableGray {
    border: none;
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    color: white;
}

#buttonDelete {
    background-color: transparent;
}

#tableCampuses {
    background-color: white;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    color: black;
}

#buttonInfoCampusTable {
    background-color: blue;
    color: white;
    height: auto;
    width: auto;
}

table#tableCampuses button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px 5px;
    width: auto;
    height: auto;
}

table#tableCampuses th {
    text-align: center;
    border-top: none;
}

#table#tableCampuses tr {
    border-radius: 25px 25px;
    height: auto;
    width: auto;
}

#buttonClear {
    width: 115px;
    float: left;
    margin-left: 30px;
}

#buttonAddCampus {
    width: 115px;
    float: right;
    margin-right: 30px;
}

.table-responsive {
    border: none;
}

#buttonUpdate {
    visibility: hidden;
}
