body {
    background-image: url("../img/FondoNegro.jpg");
    background-size: cover;
}

#tableLogin {
    background-color: #a5a5a5;
    border-radius: 100px 100px;
    text-align: center;
    margin: 0 auto;
    width: 290px;
    color: white;
    
}

h1 {
    color: white;
    text-align: center;
}

#buttonEnter {
    border-radius: 5px 5px;
    color: black;
    background-color: white;
    border-style: none;
}

input.TextBoxUsername {
    border-radius: 5px 5px;
    border-style: none;
    height: 25px;
    width: 240px;
}

input.TextBoxPassword {
    border-radius: 5px 5px;
    border-style: none;
    height: 25px;
    width: 240px;
}

#buttonErrors {
    border-radius: 5px 5px;
    color: red;
    background-color: transparent;
    border-style: none;
}

label { 
    font-size: 7pt;
    color: white;
    width: 100%;
    text-align: center;
}

#allContentInLogin {
    text-align: center;
}

.navbar default-navbar navbar-static-top {
    width: 100%;
}

.container {
    width: 100%;
}

.navbar-header {
     width: 100%;
}

#navbar-right {
    float: right;
    margin-top: 25px;
}

.logo {
    color: white;
    font-size: 15pt;
    width: auto;
}