body {
    background-image: url("../img/Fondos-de-pantalla-gratis-27.jpg");
    background-size: cover;
}

#navbardefault {
    background-color: transparent;
    color: white;
    border: none;
}

li {
    height: 3px 3px;
    width: auto;
}

#TextBoxSearch {
    border-radius: 5px 5px;
    height: 22px;
    width: auto;
    border: none;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    height: auto;
    width: auto;
    border-radius: 5px 5px;
}

.btnSearch {
        background-color: white;
        color: darkgray;
        height: 23px;
        width: auto;
        border: none;
}

.navbar-toggle{
    background-color: white; 
    margin-top: 25px;
}

#search {
    float: right;
}

#mainNavbar {
    margin-top: 27px;
}

#navbarOptions {
    float: right;
}