* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/FondoNegro.jpg");
    background-size: cover;
}

#TextBoxSearch {
    border-radius: 5px 5px;
    height: 22px;
    width: auto;
    border: none;
}

#navDefault {
    background-color: transparent;
    width: 100%;
}

#logo {
    color: white;
    font-size: 15pt;
    width: auto;
}

#buttonSearch {
    border: none;
    background-color: white;
    height: 22px;
    width: 22px;
    border-radius: 5px 5px;
    margin-right: 20px;
}

#imageSearch {
    height: 22px;
    width: 22px;
    border-radius: 5px 5px;
}

#search {
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    display: inline;
}

#PageOptions {
    margin: auto auto;
    margin-right: 0;
    height: auto;
    width: 90%;
}

#buttonParkReservation {
    background-color: #28a522;
    height: 60px;
    border-radius: 5px 5px;
    color: white;
    text-align: left;
    width: 100%;
    border: none;
    font-size: 25pt;
    margin: auto auto auto auto;
}

#buttonMyProfile {
    background-color: #405e32;
    height: 60px;
    border-radius: 5px 5px;
    color: white;
    text-align: left;
    width: 100%;
    border: none;
    font-size: 25pt;
}

#buttonReports {
    background-color: #309d97;
    height: 60px;
    border-radius: 5px 5px;
    color: white;
    text-align: left;
    width: 100%;
    border: none;
    font-size: 25pt;
}

#buttonConfiguration {
    background-color: #3d3737;
    height: 60px;
    border-radius: 5px 5px;
    color: white;
    text-align: left;
    width: 100%;
    border: none;
    font-size: 25pt;
}

#navbarToggleOptions {
    background-color: white;
}

#navbarBottom {
    background-color: #3d3737;
    height: 50px;
    width: 100%;
    box-shadow: 0px 1px 50px #5E5E5E;
    margin: 0 auto;
}

#options {
    margin-top: 3px;
    margin-left: 35px;
    font-size: 20pt;
    color: white;
    width: 50px;
}

#buttonNavToogleOptions {
    background-color: white;
}

#navbar-header-bottom {
    width: 100%;
}

div nav ul li {
    display: inline;
}

div nav ul li button {
    font-size: 12pt;
    margin-top: 5px;
    margin-right: 5px;
    width: auto;
    height: auto;
    background-color: white;
    border: none;
    color: #3d3737;
    border-radius: 5px 5px;
}

#navbar-top-header {
    width: 100%;
}

#containerNavbar-top {
    width: 100%;
}

#navbar-right {
    background-color: transparent;
    float: right;
    width: auto;
    margin-top: 8px;
}

#navbarOptions {
    display: flex;
}

#navbarFromRight {
    background-color: transparent;
}

@media screen and (max-width: 770px) {
    #navbar-right {
        background-color: #197d67;
        float: right;
        height: 91%;
        width: 40%;
        margin: 0;
        position: fixed;
        top: 0;
        right: -100%;
        border-radius: 10px 10px;
    }

    div nav ul li {
        display: block;
        float: none;
    }

    div nav ul li button {
        border: none;
        background-color: white;
        color: #197d67;
        font-size: 12pt;
        width: 80%;
        margin-top: 10px;
        margin-left: 10%;
    }
}

@media screen and (min-width: 770px){
    #navbar-right {
    background-color: transparent;
    float: right;
    width: auto;
    margin-top: 8px;
}
    div nav ul li {
    display: inline;
}
    div nav ul li button {
    font-size: 12pt;
    margin-top: 5px;
    margin-right: 5px;
    width: auto;
    height: auto;
    background-color: white;
    border: none;
    color: #3d3737;
    border-radius: 5px 5px;
}
}
