* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/FondoNegro.jpg");
    background-size: cover;
}

#tableParking {
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 24%;
    height: 300px;
    color: white;
}

@media screen and (max-width: 400px) {
    #tableParking {
        width: 100%;
    }

    #tableGray {
        width: 100%;
    }
}

#allContentInParking {
    text-align: center;
    height: auto;
}

h1 {
    color: white;
    text-align: center;
}

div table tr td input {
    border-radius: 5px 5px;
    border-style: none;
    height: 25px;
    width: 70%;
    color: black;
}

div table tr td button {
    border-radius: 5px 5px;
    color: black;
    background-color: white;
    border-style: none;
    width: auto;
    height: auto;
}

div {
    width: 100%;
}

.navbar default-navbar navbar-static-top {
    width: 100%;
}

.container {
    width: 100%;
}

.navbar-header {
    width: 100%;
}

input#buttonErrors {
    border-radius: 5px 5px;
    background-color: white;
    border: none;
    border-style: none;
    width: auto;
    height: auto;
}

#info {
    font-size: 10pt;
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    border: 1px;
    border-color: white;
    border-radius: 10px 10px;
}

#buttonClear {
    width: 35%;
    float: left;
    margin-left: 15%;
}

#buttonAddParking {
    width: 35%;
    float: right;
    margin-right: 15%;
}

#tableGray {
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 80%;
    height: 30%;
    color: white;
}

#tableParkings {
    background-color: white;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    color: black;
}

table#tableParkings button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px 5px;
    width: auto;
    height: auto;
}

table#tableParkings th {
    text-align: center;
    border-top: none;
}

#buttonDelete {
    background-color: transparent;
}

#table#tableParkings tr {
    border-radius: 25px 25px;
    height: auto;
    width: auto;
}

#buttonInfoParkingTable {
    background-color: blue;
    color: white;
}

.logo {
    color: white;
    font-size: 15pt;
    width: auto;
}
