* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/FondoNegro.jpg");
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

.logo {
    color: white;
    font-size: 15pt;
    width: auto;
}