* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/FondoNegro.jpg");
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

.logo {
    color: white;
    font-size: 15pt;
    width: auto;
}

.container {
    width: 100%;
}

#buttonCancelUpdate {
    visibility: hidden;
    width: 35%;
    float: left;
    margin-left: 30px;
}

table tr td span {
    color: black;
    width: 240px;
    font-size: 8pt;
    background-color: white;
    border: none;
    border-radius: 5px 5px;
}

#navDefault {
    background-color: transparent;
    width: 100%;
}

#allContentInSpace {
    text-align: center;
    height: auto;
}

#spanOn {
    float: left;
    margin-left: 30px;
    width: 115px;
}

#spanOff {
    float: right;
    margin-right: 30px;
    width: 115px;
}

#checkBoxStatusOn {
    background-color: white;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 75px;
}

#checkBoxStatusOff {
    background-color: white;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 75px;
}

select {
    width: 240px;
    background-color: white;
    height: 25px;
    color: black;
    border: none;
    border-radius: 5px 5px;
}

#selectCampus {
    width: 190px;
    background-color: white;
    height: 25px;
    color: black;
    border: none;
    border-radius: 5px 5px;
    float: left;
    margin-left: 30px;
}

#buttonSearch {
    width: 40px;
    float: right;
    margin-right: 30px;
}

#buttonErrors {
    border-radius: 5px 5px;
    color: black;
    background-color: transparent;
    border: none;
    border-style: none;
    width: auto;
    height: auto;
}

#tableSpace {
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 300px;
    height: 350px;
    color: white;
}

div table tr td input {
    border-radius: 5px 5px;
    border-style: none;
    height: 25px;
    width: 240px;
    color: black;
}

div table tr td button {
    border-radius: 5px 5px;
    color: black;
    background-color: white;
    border-style: none;
    width: auto;
    height: auto;
}

#buttonClear {
    width: 115px;
}

@media screen and (max-width: 400px) {
    #tableRole {
        width: 100%;
    }

    #tableGray {
        width: 100%;
    }
}

#tableGray {
    border: none;
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    color: white;
}

#buttonDelete {
    background-color: transparent;
}

#tableSpaces {
    background-color: white;
    text-align: center;
    border-radius: 25px 25px;
    margin: 0 auto;
    width: 90%;
    height: auto;
    color: black;
}

#buttonInfoSpaceTable {
    background-color: blue;
    color: white;
    height: auto;
    width: auto;
}

table#tableSpaces button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px 5px;
    width: auto;
    height: auto;
}

table#tableSpaces th {
    text-align: center;
    border-top: none;
}

#table#tableSpaces tr {
    border-radius: 25px 25px;
    height: auto;
    width: auto;
}

#buttonClear {
    width: 115px;
    float: left;
    margin-left: 30px;
}

#buttonAddSpace {
    width: 115px;
    float: right;
    margin-right: 30px;
}

.table-responsive {
    border: none;
}

#buttonUpdate {
    visibility: hidden;
}
